




/* --------------------------------- MAIN SECTION CONTAINER --------------------------------------------- */

.container {
    display:flex;
    width: 1250px; 
    background-color: black; 
    
}

/* ----------------------------------- ADD TASK SECTION  ------------------------------------------------ */

.addTask-container {
    color: white; 
    width: 400px;
    height: 400px;
    border: solid 2px lightblue; 
    padding: 20px; 
    margin: 10px;
    
}

h2 {
    color: white;
    margin: 10px; 
    padding: 5px; 
    font-family: 'Roboto', sans-serif;
    

}

#inputField { 
    width: 300px;
    height: 30px; 
    border: solid 2px lightblue; 
    outline: none;
    font-size: 15px; 

}

#addTaskButton {
        color: lightblue;
        background-color: black;
        height: 35px; 
        width: 50px; 
        font-size: 30px;
        margin: 5px;
        border: none;  
}

.todos {
    margin-top: 25px; 
}

.task-styling{
    color: white; 
    margin: 10px;
    cursor: pointer;
    font-size: 20px; 
    font-family: 'Roboto', sans-serif;
}



/* ------------------------------ EISENHOWER MATRIX SECTION -------------------------------------------- */

#eisenhowerMatrix {
    display: table;
    border-collapse: serparate;
    border-spacing: 10px;
    width: 750px;
    height: 400px;
    margin-left: 20px;
    border: solid 2px lightblue;
    margin: 10px; 
}

h1 {
    color: white;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    margin: 2px; 
}

h4 {
    color: white;
    margin: 10px; 
    padding: 5px; 
    font-family: 'Roboto', sans-serif;
}

th {

    border: solid 2px black; 
    width: 400px; 
    height: 150px;
    margin-bottom: 10px; 
    border-radius: 25px;
}

.do-block {
    background-color: #8FBC8F;
    font-family: 'Roboto', sans-serif;
    padding: 10px; 
    vertical-align: top;
}
    


.decide-block {
    background-color: #00CED1; 
    font-family: 'Roboto', sans-serif;
    padding: 10px; 
    vertical-align: top;
    
}
    



.not-important-block {
    background-color: #FFA07A; 
    font-family: 'Roboto', sans-serif;
    padding: 10px; 
    vertical-align: top;
}




.delete-block {
    background-color: #CD5C5C;
    font-family: 'Roboto', sans-serif;
    padding: 10px; 
    vertical-align: top;
}







/* --------------------------------------- FOOTER SECTION ----------------------------------------------  */

.container-footer {
    display: flex;
    align-items: flex-end;
    width: 1250px;
    height: 100px;
    background-color: black; 
    
    
}

.left-section-footer  {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 100px;
    

   
    

}

.image img {
    display:flex;
    align-content: center;

    
}
.vl {
    border-left: 2px solid lightblue;
    height: 60px;
    position: bottom;
    left: 50%;
    margin-left: 0px;
    margin-bottom: 20px;
    top: 0;
  }

.vl-2 {
    border-left: 2px solid lightblue;
    height: 60px;
    position: bottom;
    right: 50%;
    margin-right: 0px;
    margin-bottom: 20px;
    top: 0;

}


img {
    display: flex;
    align-content: center;
    width: 30px; 
    height: 30px; 
}

.center-section-footer {
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 400px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    

}

.right-section-footer {
    color: white;
    display: flex;
    justify-content: center; 
    background-color: black;
    width: 400px;
    height: 100px;
    font-family: 'Roboto', sans-serif;


}

.task-description-text-area {
    width: 250px;
    height: 125px;
}